@import 'node_modules/bootstrap/scss/bootstrap';

@import "fonts";
@import "variables";

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    font-family: $font-family-montserrat;
}

footer {
  background-color: $color-light;
}
.title {
  font-weight: $font-weight-bold;
}
.light-bg {
  background: $color-light;
}
.white-bg {
  background-color: white;
}
.orange-color {
  color: $color-orange;
  .black {
    background-color: black;
  }
}